body{
    background-image: url(imagens/Restaurante.png);
    background-repeat: no-repeat;
    background-size: cover ;
    font-family: Arial;
    background-color: blue;

    
}
.card{
    box-shadow: 1px 1px 5px #ccc;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    text-decoration: none;
}
.form{
    align-items: center;
    width: 250px;
    height: auto;
    margin: auto;
    padding-top: 40px; 
}