@import "style.css";
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: antiquewhite;
    }
    h1{
    text-align: center;
    } 
    .containera{
    display: flex;
    justify-content: space-between;
    }



